
body, .navbar-item {
  padding: 10px;
  text-align: center;
}

.cocktails {
  display: flex;
  flex-wrap: wrap;
}
.baseAlcohol{
  font-size: 30px;
  font-family: 'Josefin Slab', serif;
}


.card-header-title {
  font-family: "Josefin Slab", serif;
}

// Check responsiveness with card title / card size

div.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75rem;
}

.card-header-title {
  display: flex;
  max-height: 50px;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  flex-direction: column;
}

div.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75rem;
}

.likes {
  display: flex;
  justify-content: flex-end;
}
// End of check responsiveness with card title / card size



$pink: #ffb4a2;
$title-color: #b5838d;
$footer-background-color: #363636;
$footer-padding: 2rem 1.5rem;
$card-header-background-color: $pink;
$box-padding: 1rem;


@import "~bulma/bulma.sass";

h1{
  font-size: 40px;
  display: flex;
  justify-content: center;
  font-family: 'Josefin Slab', serif;
  color: #6d6875;
  max-width: 100%;

}
h2{
  display: flex;
  justify-content: center;
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
}

h3{
  display: flex;
  justify-content: center;
  font-family: 'Josefin Slab', serif;
  font-size: 25px;
  color: #6d6875;
}


.card-header-title{
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
}

.card-header-title.title-color {
  // align-items: center;
  // color: $card-header-color;
  // display: flex;
  // flex-grow: 1;
  // font-weight: $card-header-weight;
  // // padding: $card-header-padding;
  // // &.is-centered
  //   justify-content: center;
  max-width: 500px;

}

@media only screen and (max-width: 375px) {
  .card-header-title{
    font-family: 'Josefin Slab', serif;
    font-size: 15px;
    padding: 10px;
    min-height: 50px;
  }    
}

.navbar-item{
  font-family:'Josefin Slab', serif;
  font-size: 21px;
}

.wheel{
  display: flex;
  justify-content: space-around;
  
}

.headers{
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
}
.link{
  display: flex;
  justify-content: flex-end;
  
}
.result{
  font-size: 40px;
  color: #F14668;
}

.home{
  display: flex;
  margin-top: 20px;
}


.modal-container {
  display: flex;
  justify-content: center;
  margin: 24px;
}

.button.is-link {
  background-color: rgba(40, 10, 194, 0.5);
  color: white;
}

.button.is-primary {
  background-color: rgba(149, 255, 114, 0.552);
  color: rgb(0, 0, 0);
}

.button.is-warning {
  background-color: rgba(232, 252, 21, 0.5);
  color: rgb(0, 0, 0);
}
.button.is-danger {
  background-color: rgba(255, 0, 0, 0.5);
  color: rgb(0, 0, 0);
}

