
body, .navbar-item {
  padding: 10px;
  text-align: center;
  font-family: 'Josefin Slab', serif;
}

.cocktails {
  display: flex;
  flex-wrap: wrap;
}

$pink: #ffb4a2;
$footer-background-color: #363636;
$footer-padding: 2rem 1.5rem;
$card-header-background-color: $pink;
$box-padding: 1rem;


@import "~bulma/bulma.sass";

h1{
  font-size: 50px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  font-family: 'Josefin Slab', serif;
  color: #6d6875;
  max-width: 100%;
  margin: 30px;

}